.ipynb_checkpoints
runs
old-runs
__pycache__
# intermediate_data has its own .gitignore to ignore contents but track the folder
special_checkpoints
i_am_sleeping.sh
.TASK_PGID
cloud_runs
submission
attention_analysis
*.log
.llm
temp/
